<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Multistream Tools{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script async defer data-domain="multistream-tools.live"
            src="https://analytics.nicolasmylle.fr/js/plausible.js"></script>
</head>
<body class="h-full w-full relative flex flex-col min-h-screen bg-gray-100">

{#<div class="bg-red-200 border-t-4 border-red-400 rounded-b text-teal-darkest px-4 py-3 shadow-md text-center"
     role="alert">
    <div class="w-full">
        <a href={{ path('account') }}>
            <div>
                <p class="font-bold">{{ "2022-04-29"|date("d M Y") }} | {{ "announce.title"|trans }}</p>
                <p class="text-sm">{{ "announce.description"|trans }}</p>
            </div>
        </a>
    </div>
</div>#}

{% include "sidebar.html.twig" %}
<div class="pl-20 mx-auto flex-auto lg:w-11/12">
    <div class="max-w-2xl mx-auto py-16 sm:py-24 lg:py-32 lg:max-w-none">
        {% block body %}{% endblock %}
    </div>
</div>
{% if not app.request.get('overlay') %}
    {% include "footer.html.twig" %}
{% endif %}
</body>
</html>
