<nav class="z-10 {% if app.request.get('overlay') %}bg-gray-800 w-full mx-auto px-2 sm:px-6 lg:px-8{% else %}bg-gray-900 w-20 h-screen fixed overflow-hidden justify-between flex flex-col{% endif %} ">
    <div class="{% if not app.request.get('overlay') %}mt-10 mb-10{% endif %}">
        <div class="{% if app.request.get('overlay') %}mt-2{% else %}mt-10{% endif %}">
            <ul class="{% if app.request.get('overlay') %}inline-flex{% endif %}">
                <li class="{% if app.request.get('overlay') %}mx-2{% else %}mb-6{% endif %}">
                    <a href="{{ path('home') }}">
                      <span>
                          <svg class="fill-current h-5 w-5 text-gray-300 mx-auto hover:text-green-500 "
                               viewBox="0 0 24 24"
                               fill="none"
                               xmlns="http://www.w3.org/2000/svg"
                          >
                              <path
                                      fill-rule="evenodd"
                                      clip-rule="evenodd"
                                      d="M11 17H4C2.34315 17 1 15.6569 1 14V6C1 4.34315 2.34315 3 4 3H20C21.6569 3 23 4.34315 23 6V14C23 15.6569 21.6569 17 20 17H13V19H16C16.5523 19 17 19.4477 17 20C17 20.5523 16.5523 21 16 21H8C7.44772 21 7 20.5523 7 20C7 19.4477 7.44772 19 8 19H11V17ZM4 5H20C20.5523 5 21 5.44772 21 6V14C21 14.5523 20.5523 15 20 15H4C3.44772 15 3 14.5523 3 14V6C3 5.44772 3.44772 5 4 5Z"
                                      fill="currentColor"
                              />
                        </svg>
                      </span>
                    </a>
                </li>
                <li class="{% if app.request.get('overlay') %}mx-2{% else %}mb-6{% endif %}">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a href="{{ path('updateStreamInfos') }}" aria-label="{{ "stream.update"|trans }}">
                      <span>
                        <svg class="fill-current h-5 w-5 mx-auto text-gray-300 hover:text-green-500"
                             viewBox="0 0 24 24">
                            <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M21.2635 2.29289C20.873 1.90237 20.2398 1.90237 19.8493 2.29289L18.9769 3.16525C17.8618 2.63254 16.4857 2.82801 15.5621 3.75165L4.95549 14.3582L10.6123 20.0151L21.2189 9.4085C22.1426 8.48486 22.338 7.1088 21.8053 5.99367L22.6777 5.12132C23.0682 4.7308 23.0682 4.09763 22.6777 3.70711L21.2635 2.29289ZM16.9955 10.8035L10.6123 17.1867L7.78392 14.3582L14.1671 7.9751L16.9955 10.8035ZM18.8138 8.98525L19.8047 7.99429C20.1953 7.60376 20.1953 6.9706 19.8047 6.58007L18.3905 5.16586C18 4.77534 17.3668 4.77534 16.9763 5.16586L15.9853 6.15683L18.8138 8.98525Z"
                                    fill="currentColor"
                            />
                            <path
                                    d="M2 22.9502L4.12171 15.1717L9.77817 20.8289L2 22.9502Z"
                                    fill="currentColor"
                            />
                        </svg>
                      </span>
                        </a>
                    {% endif %}
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="{% if app.request.get('overlay') %}mx-2{% else %}mb-6{% endif %}">
                        <a href="{{ path('account') }}">
                            <svg class="fill-current h-5 w-5 mx-auto text-gray-300 hover:text-green-500"
                                 width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M16 9C16 11.2091 14.2091 13 12 13C9.79086 13 8 11.2091 8 9C8 6.79086 9.79086 5 12 5C14.2091 5 16 6.79086 16 9ZM14 9C14 10.1046 13.1046 11 12 11C10.8954 11 10 10.1046 10 9C10 7.89543 10.8954 7 12 7C13.1046 7 14 7.89543 14 9Z"
                                      fill="currentColor"/>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1ZM3 12C3 14.0902 3.71255 16.014 4.90798 17.5417C6.55245 15.3889 9.14627 14 12.0645 14C14.9448 14 17.5092 15.3531 19.1565 17.4583C20.313 15.9443 21 14.0524 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12ZM12 21C9.84977 21 7.87565 20.2459 6.32767 18.9878C7.59352 17.1812 9.69106 16 12.0645 16C14.4084 16 16.4833 17.1521 17.7538 18.9209C16.1939 20.2191 14.1881 21 12 21Z"
                                      fill="currentColor"/>
                            </svg>
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="{% if app.request.get('overlay') %}mx-2{% else %}mb-6{% endif %}">
                        <a href="{{ path('admin') }}">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="fill-current h-5 w-5 mx-auto text-gray-300 hover:text-green-500"
                                 viewBox="0 0 24 24" fill="none"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"/>
                            </svg>
                        </a>
                    </li>
                {% endif %}
                <li class="{% if app.request.get('overlay') %}mx-2{% else %}mb-6{% endif %}">
                    <div @click.away="open = false" class="relative" x-data="{ open: false }">
                        <button @click="open = !open" class="flex flex-row items-center w-full" aria-label="Languages">
                            <svg
                                    class="fill-current h-5 w-5 mx-auto text-gray-300 hover:text-green-500"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21ZM14.8055 18.4151C17.1228 17.4003 18.7847 15.1667 18.9806 12.525C18.1577 12.9738 17.12 13.3418 15.9371 13.598C15.7882 15.4676 15.3827 17.1371 14.8055 18.4151ZM9.1945 5.58487C7.24725 6.43766 5.76275 8.15106 5.22208 10.244C5.4537 10.4638 5.84813 10.7341 6.44832 11.0008C6.89715 11.2003 7.42053 11.3798 8.00537 11.5297C8.05853 9.20582 8.50349 7.11489 9.1945 5.58487ZM10.1006 13.9108C10.2573 15.3675 10.5852 16.6202 10.9992 17.5517C11.2932 18.2133 11.5916 18.6248 11.8218 18.8439C11.9037 18.9219 11.9629 18.9634 12 18.9848C12.0371 18.9634 12.0963 18.9219 12.1782 18.8439C12.4084 18.6248 12.7068 18.2133 13.0008 17.5517C13.4148 16.6202 13.7427 15.3675 13.8994 13.9108C13.2871 13.9692 12.6516 14 12 14C11.3484 14 10.7129 13.9692 10.1006 13.9108ZM8.06286 13.598C8.21176 15.4676 8.61729 17.1371 9.1945 18.4151C6.8772 17.4003 5.21525 15.1666 5.01939 12.525C5.84231 12.9738 6.88001 13.3418 8.06286 13.598ZM13.9997 11.8896C13.369 11.9609 12.6993 12 12 12C11.3008 12 10.631 11.9609 10.0003 11.8896C10.0135 9.66408 10.4229 7.74504 10.9992 6.44832C11.2932 5.78673 11.5916 5.37516 11.8218 5.15605C11.9037 5.07812 11.9629 5.03659 12 5.01516C12.0371 5.03659 12.0963 5.07812 12.1782 5.15605C12.4084 5.37516 12.7068 5.78673 13.0008 6.44832C13.5771 7.74504 13.9865 9.66408 13.9997 11.8896ZM15.9946 11.5297C15.9415 9.20582 15.4965 7.11489 14.8055 5.58487C16.7528 6.43766 18.2373 8.15107 18.7779 10.244C18.5463 10.4638 18.1519 10.7341 17.5517 11.0008C17.1029 11.2003 16.5795 11.3798 15.9946 11.5297Z"
                                        fill="currentColor"
                                />
                            </svg>
                        </button>
                        <div x-show="open" x-transition:enter="transition ease-out duration-100"
                             x-transition:enter-start="transform opacity-0 scale-95"
                             x-transition:enter-end="transform opacity-100 scale-100"
                             x-transition:leave="transition ease-in duration-75"
                             x-transition:leave-start="transform opacity-100 scale-100"
                             x-transition:leave-end="transform opacity-0 scale-95"
                             class="{% if not app.request.get('overlay') %}absolute right-0 w-full mt-2 origin-top-right rounded-md shadow-lg{% endif %}">
                            <div class="px-2 py-2 rounded-md shadow {% if app.request.get('overlay') %}inline-flex{% endif %}">
                                <a class="{% if not app.request.get('overlay') %}block {% endif %}px-2 py-2 mt-2 text-white text-sm font-semibold"
                                   href="{{ path(app.request.attributes.get('_route'), {_locale: 'en'}) }}">English</a>
                                <a class="{% if not app.request.get('overlay') %}block {% endif %}px-2 py-2 mt-2 text-white text-sm font-semibold"
                                   href="{{ path(app.request.attributes.get('_route'), {_locale: 'fr'}) }}">Français</a>
                                <a class="{% if not app.request.get('overlay') %}block {% endif %}px-2 py-2 mt-2 text-white text-sm font-semibold"
                                   href="{{ path(app.request.attributes.get('_route'), {_locale: 'ru'}) }}">Русский</a>
                                <a class="{% if not app.request.get('overlay') %}block {% endif %}px-2 py-2 mt-2 text-white text-sm font-semibold"
                                   href="{{ path(app.request.attributes.get('_route'), {_locale: 'pl'}) }}">Polskie</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="{% if app.request.get('overlay') %}mx-2{% else %}mb-6{% endif %}">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a href="{{ path('app_logout') }}" aria-label="{{ "stream.logout"|trans }}">
                    <span>
                        <svg
                                class="fill-current h-5 w-5 mx-auto text-gray-300 hover:text-green-500"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                    d="M13 4.00894C13.0002 3.45665 12.5527 3.00876 12.0004 3.00854C11.4481 3.00833 11.0002 3.45587 11 4.00815L10.9968 12.0116C10.9966 12.5639 11.4442 13.0118 11.9965 13.012C12.5487 13.0122 12.9966 12.5647 12.9968 12.0124L13 4.00894Z"
                                    fill="currentColor"
                            />
                            <path
                                    d="M4 12.9917C4 10.7826 4.89541 8.7826 6.34308 7.33488L7.7573 8.7491C6.67155 9.83488 6 11.3349 6 12.9917C6 16.3054 8.68629 18.9917 12 18.9917C15.3137 18.9917 18 16.3054 18 12.9917C18 11.3348 17.3284 9.83482 16.2426 8.74903L17.6568 7.33481C19.1046 8.78253 20 10.7825 20 12.9917C20 17.41 16.4183 20.9917 12 20.9917C7.58172 20.9917 4 17.41 4 12.9917Z"
                                    fill="currentColor"
                            />
                        </svg>
                    </span>
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>

